.title {
    @media (max-width: 764px) {
        font-size: 34px
    }
    @media (min-width: 765px) {
        font-size: 80px
    }
}

.intro {
    @media (max-width: 765px) {
        display: none;
    }
}