.upperHeader {
    @media (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
    }
    @media (min-width: 768px) {
        padding-left: 40px;
        padding-right: 40px;
    }

    @media (max-width: 1149px) {
        height: 60px;
    }
    @media (min-width: 1150px) {
        height: 68px;
    }
    .logoWidth {
        @media (max-width: 767px) {
            width: 110px;
        }
        @media (min-width: 768px) {
            width: 136px;
        }
    }
    .iconContainer {
        @media (max-width: 767px) {
            display: none;
            display: flex;
        }
        @media (min-width: 768px) {
            display: flex;
        }
        .icon {
            transition: all 0.3s ease;
        }
        .icon:hover {
            color: #df292c;
        }
    }
    .iconContainer ~ .iconContainer {
        margin-right: 12px;
    }
}

.tab ~ .tab {
    margin-left: 4px;
}
.tab:hover .tabLine {
    transform: translateX(0%);
}

.tabActiveBG {
    background-color: #F2F2F2;
}
.tabLine {
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000;
    width: 100%;
    transform: translateX(-105%);
    transition: all ease-in-out 0.3s;
}
.tabActiveLine {
    transform: translateX(0%) !important;
}
